  body{
    font-size: 20px
    font-family: Helvetica, Arial, sans-serif;
  }
  .body{
    padding: 60px 15px;

  }
  .permanent-marker{
    font-family: 'Righteous', cursive;
  }
  .title{
    font-size: 2,5em;
    margin-top: 0;
  }
  .main-header{
    background-color:#34495E;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 4px;
  }
  .nav-link{
    color:white;
    margin-right:-4px;
    text-decoration: none;
    width:33%;
    display: inline-block;
  }
  .text-center{
    text-align:center;
  }
  .red-text{
    color:#FF0000;
  }
  .main-container{
    min-height: 100vh;
  }
.product img{
    width:80px;
}
.product h3 {
  font-size: 1.7em;
  margin-top: :5px;
  margin-bottom: 5px;
  font-family: sans-serif;
}
.card{
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) ;
}
#opacity :hover{ /*pseudo clase que marca la animacion al pasar mouse sobre link*/
  opacity: 0.7;
}

.threeD{
  text-shadow: 1px 3px 0px #6b251d, 1px 13px 5px #ABA8A8;
}

.delay-1{
    animation-delay: 0.1s;
    position: relative;
    z-index: 4;
}

.delay-2{
  animation-delay: 0.2s;
  position: relative;
  z-index: 3;
}

.delay-3{
  animation-delay: 0.3s;
  position: relative;
  z-index: 2;
}

.delay-4{
  animation-delay: 0.4s;
  position: relative;
  z-index: 1;
}

.footer{
  background-color: #9c9c9c;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) ;
  border-radius: 4px;
  max-height: 40px;
  padding: 5px 5px;
  text-align:center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
}

form {
  width: 100%;
  margin: auto;
  background: rgba(0,0,0,0.1);
  padding: 10px 20px;
  box-sizing: border-box;

}
.h2 {
  text-align: center;
  font-size: 30px;
  margin: 0;
  margin-bottom: 20px;
}
.msjEnviado {
  text-align: center;
  font-size: 20px;
  margin: 0;
  margin-bottom: 20px;
}

input, textarea{
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}
textarea {
  min-height: 100px;
  max-height: 200px;
  min-width: 100px;
}

#boton {
  background-color: #31384a;
  padding: 20px;
  color: #fff;

}
#boton: hover{
  cursor: pointer;
}

@media (max-width:480px) {
  form{
    width: 100%;
  }
  
}